@import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
    display: none;

    
}

/* Hide scrollbar for IE, Eadge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;    /* IE and Eage */
    scrollbar-width: none;     /* Firefox */
}
